
<div class="navbar-layout">
    <div class="name-occupation-container">
        <p class="name-item">{{ nameLabel }}</p>
        <p class="work-item">{{ occupationLabel }}</p>
    </div>
    <div class="link-container">
        <div class="normal-menu">
            @for (menu of menus; track menu; let idx = $index) {
                <div class="navbar-nav-item" (click)="handleNavigation(menu.page)">
                    <p class="navbar-nav-item-label"><span #link [id]=idx class="animated-nav-item-bg" (mouseover)="navLinkItemAnimation($event)"> {{menu.page.label}} </span></p>
                </div>
            }
        </div>
        <div class="hamburger-menu">
            <mat-icon svgIcon="hamburger" aria-hidden="false"></mat-icon>
            <!-- @for (menu of menus; track menu) {
                <div class="navbar-nav-item" (click)="handleNavigation(menu.page)">
                    <p class="navbar-nav-item-label"> {{menu.page.label}} </p>
                </div>
            } -->
        </div>
    </div>
</div>