<div class="viewport">
    <div *ngIf="animationTextList.length > 0" class="letter-grid">
        <div *ngFor="let animationLetter of animationTextList;">
            <div class="letter" 
                [ngStyle]="letterStyles(animationLetter)"
                [ngClass]="getTransition(animationLetter.transitioningFrom)"
                >
                <p>{{animationLetter.letter}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="animationTextList.length == 0" class="initial-value"> <p> 'Animatino text goes here' </p> </div>
    <div *ngIf="continueText.length > 0" class="continue-text-with-animation" [ngStyle]="continuteTextStyle()" (animationend)="onAnimationEnd()">
        {{continueText}}
    </div>
    <div *ngIf="continueText.length == 0" class="continue-text">
        'Placeholder text'
    </div>
</div>