#header {
    background: #00bbd4c2;
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 7.5vh;
}

#header .link-container {
    display: inline-flex;
    gap: 5ch;
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-items: flex-end;
    padding-left: 10%;
    padding-bottom: 1.2%;
    box-sizing: border-box;
}

#header .link-container a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

#header .link-container a:hover {
    color: #2a6199;
}

#main {
    padding: 2.5%;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

#footer {
    background: rgba(128, 128, 128, 0.863);
    width: 100%;
    height: 20%;
}